<!-- 
<body>
    <h2 >爆款图书</h2>
    <ul class="nav">
        <li class="nav-item">
        <a class="nav-link active" href="/">主页</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">购物车</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">订单</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " href="{{url_for('logout')}}">退出登录</a>
        </li>
        </ul>
    <div class="card" style="width: 18rem;">
        <img src="{{url_for('static',filename = book[3])}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{book[1]}}</h5>
        <p class="card-text">price:{{book[2]}}</p>
        <p class="card-text">describe:{{book[4]}}</p>
        </div>
        <form action="/order" method="post">
            <input type="hidden" name="book_id" value="{{book[0]}}" readonly><br> 
            <input type="hidden" name="username" value="{{user}}" ><br> 
            {% if user !=None%}
            <button type="submit" id="btn"  class="btn btn-success btn-block">购买</button>
            {% else%}
            <h3> <a class="btn btn-success btn-block" href="/login">登录</a> </h3>
            {%endif%}
    </div>
</body> -->
{%extends "index.html"%}

{% block content%}

    <div class="container">
        <div class="py-6">
            <div class="row row-grid justify-content-between align-items-center">
                <div class="col-lg-5 order-lg-2">
                        <input type="hidden" name="book_id" id="book_id" value="{{book[0]}}" readonly><br> 
                        <input type="hidden" name="username"  value="{{user}}" ><br> 
                    <h5 class="h3">{{book[1]}}</h5>
                    <p class="lead my-4">
                        {{book[4]}}
                    </p>
                    <ul class="list-unstyled mb-0">
                        <li class="py-2">
                            <div class="d-flex align-items-center">
                                <div>
                                    <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                        <i class="fas fa-file-invoice"></i>
                                    </div>
                                </div>
                                <div>
                                    <span class="h6 mb-0">price:{{book[2]}}</span>
                                </div>
                            </div>
                        </li>
                        {% if user !=None%}
                        <button type="button" id="btn"  class="btn btn-success btn-block">购买</button>
                        {% else%}
                        <h3> <a class="btn btn-success btn-block" href="/login">登录</a> </h3>
                        {%endif%}
                    </ul>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="card mb-0 mr-lg-5">
                        <div class="card-body p-2">
                            <img src="{{url_for('static',filename = book[3])}}" class="card-img-top" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static',filename = 'assets/js/buy.js')}}"></script>
{% endblock%}