<!-- 
<body>
    <h2 class="shadow p-3 mb-5 bg-white rounded">图书信息上传</h2>
    <form action="/book/create" method="post" enctype=multipart/form-data>
        书名:<input type="text" class="form-control" name="book_name"><br>
        图片：<input type="file" name = file><br>
        价格:<input type="number" class="form-control" name="price"><br>
        描述:<input type="text" class="form-control" name="book_desc"><br>
        <input type="submit" class="btn btn-success" name="submit">
    </form>
</body> -->

{%extends "base.html"%}

{% block nav%}
<section>
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-md-6 col-lg-5 col-xl-5 py-6 py-md-0">
                <div class="card shadow zindex-100 mb-0">
                    <div class="card-body px-md-5 py-5">
                        <div class="mb-5">
                            <h6 class="h3">书本创建</h6>
                            <p class="text-muted mb-0">Sign in to your account to continue.</p>
                        </div>
                        <span class="clearfix"></span>
                        <!-- <form action="/book/create" method="post" enctype=multipart/form-data> -->
                            <div class="form-group">
                                <label class="form-control-label">书名：</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="input_bookname"  name="book_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">价格：</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="user"></i></span>
                                    </div>
                                    <input type="number" class="form-control" id="input_price"  name="price">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">图片：</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="picture"  name=file>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <label class="form-control-label">描述：</label>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="key"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="book_desc" name="book_desc">
                                </div>
                            </div>
                            <div class="mt-4">
                                <button type="button" id="book_create" class="btn btn-block btn-primary">创建</button></div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{{ url_for('static',filename = 'assets/js/book_create.js')}}"></script>

{% endblock%}