<!-- 
<body>
{%if user%}
    <div class="jumbotron">
      <h1 class="display-4">Hello, {{user}}!</h1>
      <p class="lead">欢迎来到书店主页！</p>
      <hr class="my-4">
      <p>It is the hysteria of fanatics in their imaginary victories.</p>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">个人主页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">购物车</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('get_order')}}">订单</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{{url_for('logout')}}">退出登录</a>
        </li>
      </ul>
    </div>
    
{% else%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">欢迎来到书店主页！</h1>
    <p class="lead">您当前还没有登录，请点击登录按钮进行登录</p>
    <a class="btn btn-primary btn-lg" href="/login" role="button">登录</a>
  </div>
</div>
{%endif%}

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">书名</th>
        <th scope="col">价格</th>
        <th scope="col">购买</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books%}
      <tr>
        <th scope="row">{{book[0]}}</th>
        <td>{{book[1]}}</td>
        <td>{{book[2]}}</td>
        <td><a href="/book/{{book[0]}}">购买</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</body> -->

{%extends "base.html"%}

{%block nav%}

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
      <!-- Brand -->
      <a class="navbar-brand" href="/">
          <img  src="{{ url_for('static',filename = 'xiaogou.png')}}" >
      </a>
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
            {% if user %}

              <li class="nav-item ">
                <a class="nav-link" href="/">首页</a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link" href="/order">订单</a>
              </li>
              <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                  <!-- <a class="nav-link" href="{{url_for('logout')}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">退出</a> -->
                  <a class="nav-link" href="{{url_for('logout')}}">注销<span class="sr-only">(current)</span></a>
                  <!-- <div class="dropdown-menu dropdown-menu-single">
                      <a href="index.html" class="dropdown-item">Homepage</a>
                      <a href="about.html" class="dropdown-item">About u</a>
                      <a href="contact.html" class="dropdown-item">Contact</a>
                      <div class="dropdown-divider"></div>
                      <a href="login.html" class="dropdown-item">Login</a>
                  </div> -->
              </li>
              <!-- <li class="nav-item ">
                  <a class="nav-link" href="docs/index.html">Docs</a>
              </li> -->
          </ul>
          <!-- Button -->
          <a class="navbar-btn btn btn-sm btn-primary d-none d-lg-inline-block ml-3" href="#">
              {{user}}
          </a>
          {% else %}
          <a class="navbar-btn btn btn-sm btn-primary d-none d-lg-inline-block ml-3" href="/login">
            登录
          </a>
          {%endif%}
      </div>
  </div>
</nav>
{% endblock%}

{% block content%}
<!-- <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section-secondary"> -->
  <div class="container">
      <div class="row mt-5">
        {% for book in books%}
          <div class="col-md-4">
              <div class="card">
                  <div class="card-body pb-5" style="text-align:center;">
                      <a href="/book/{{book[0]}}" class="pt-4 pb-5">
                        <img src="{{url_for('static',filename = book[3])}}" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                    </a>
                      <a href="/book/{{book[0]}}" class="h4 lh-130 mb-3" >{{book[1]}}</a>
                      <p class="text-muted mb-0">{{book[2]}}</p>
                      <a href="/book/{{book[0]}}">查看详情</a>
                      
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
<!-- </section> -->

{% endblock%}