
{%extends "base.html"%}

{%block nav%}

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
      <!-- Brand -->
      <a class="navbar-brand" href="/index/manage">
          <img  src="{{ url_for('static',filename = 'xiaogou.png')}}" >
          BookSell
      </a>
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
            {% if user %}

              <li class="nav-item ">
                <a class="nav-link" href="/index/manage">首页</a>
              </li>
              <!-- <li class="nav-item ">
                  <a class="nav-link" href="/order">订单</a>
              </li> -->
              <li class="nav-item ">
                <a class="nav-link" href="/book/manage">图书管理</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/book/create">图书创建</a>
              </li>
              <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                  <!-- <a class="nav-link" href="{{url_for('logout')}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">退出</a> -->
                  <a class="nav-link" href="{{url_for('logout')}}">注销<span class="sr-only">(current)</span></a>
                  <!-- <div class="dropdown-menu dropdown-menu-single">
                      <a href="index.html" class="dropdown-item">Homepage</a>
                      <a href="about.html" class="dropdown-item">About u</a>
                      <a href="contact.html" class="dropdown-item">Contact</a>
                      <div class="dropdown-divider"></div>
                      <a href="login.html" class="dropdown-item">Login</a>
                  </div> -->
              </li>
              <!-- <li class="nav-item ">
                  <a class="nav-link" href="docs/index.html">Docs</a>
              </li> -->
          </ul>
          <!-- Button -->
          <a class="navbar-btn btn btn-sm btn-primary d-none d-lg-inline-block ml-3" href="#">
              {{user}}
          </a>
          {% else %}
          <a class="navbar-btn btn btn-sm btn-primary d-none d-lg-inline-block ml-3" href="/login">
            登录
          </a>
          {%endif%}
      </div>
  </div>
</nav>
{% endblock%}

{% block content%}
<!-- <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section-secondary"> -->
  <div class="container">
      <div class="row mt-5">
        {% for book in books%}
          <div class="col-md-4">
              <div class="card">
                  <div class="card-body pb-5" style="text-align:center;">
                      <a href="/book/{{book[0]}}" class="pt-4 pb-5">
                        <img src="{{url_for('static',filename = book[3])}}" class="img-fluid img-center" style="height: 150px;" alt="Illustration" />
                    </a>
                      <a href="/book/{{book[0]}}" class="h4 lh-130 mb-3" >{{book[1]}}</a><br>
                      <!-- <p class="text-muted mb-0">{{book[2]}}</p> -->
                      <a href="/book/{{book[0]}}">查看详情</a>
                      
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
<!-- </section> -->

{% endblock%}