{%extends "base.html"%}

{% block nav%}
<section>
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-md-6 col-lg-5 col-xl-5 py-6 py-md-0">
                <div class="card shadow zindex-100 mb-0">
                    <div class="card-body px-md-5 py-5">
                        <div class="mb-5">
                            <h6 class="h3">登录</h6>
                            <p class="text-muted mb-0">Sign in to your account to continue.</p>
                        </div>
                        <span class="clearfix"></span>
                        <!-- <form > -->
                            <div class="form-group">
                                <label class="form-control-label">用户名：</label><span id="user_status"></span>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="input_username" placeholder="username" name="username">
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <label class="form-control-label">密码：</label>
                                    </div>
                                    <div class="mb-2">
                                        <a href="#" class="small text-muted text-underline--dashed border-primary" data-toggle="password-text" data-target="#input-password">Show password</a>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="key"></i></span>
                                    </div>
                                    <input type="password" class="form-control" id="input_password" placeholder="password" name="password">
                                </div>
                            </div>
                            <dl>
                                <!-- <li id="role"> -->
                                <!-- <dt>账号类型:</dt> -->
                                <dd> 
                                    <label>账号类型:</label>
                                    <label>用户</label><input type="radio" checked="checked" name="identype" value="student" />
                                    <!-- <label>招聘企业</label><input type="radio" name="identype" value="com" /> -->
                                    <label>管理员</label><input type="radio" name="identype" value="admin" />
                                </dd>
                                </li>
                            </dl>
                            <div class="mt-4">
                                <button type="button" id="login" class="btn btn-block btn-primary">登录</button></div>
                        <!-- </form> -->
                    </div>
                    <div class="card-footer px-md-5"><small>还没有注册账户?</small>
                        <a href="/register" class="small font-weight-bold">创建账户</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{{ url_for('static',filename = 'assets/js/login.js')}}"></script>

{% endblock%}